body {
  padding-bottom: 40px;
  font-size: 20px;
  background-color: #EEEEEE;
  font-family: "Roboto", serif;
  color: #4C4C4C;
}

.jumbotron {
  position: relative;
}

.jumbotron h1 {
  font-size: 32px;
  font-family: "Roboto", serif;
}

.jumbotron a {
  color: #4C4C4C;
}

.lead a {
  color: #0088cc;
}

.jumbotron p {
  margin-bottom: 18px;
  font-weight: 300;
}

.post h1 {
  font-family: "Roboto", serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

p {
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 30px;
}

#books p {
 margin-bottom: 8px;
}

.post-links p {
  margin-bottom: 10px;
}

h2 {
  font-family: "Roboto", serif;
  margin: 0;
  padding-bottom: 6px;
  -webkit-font-smoothing: antialiased;
}

.hiro {
  background-color: #2B2B2B;
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  box-shadow: inset 0 0 30px rgba(0,0,0,.90);
}

.container {}

.social-icons{
  padding: 0;
  padding-top: 8px;
  float: right;
}

.social-icons li {
  display: inline;
  font-size: 26px;
}

.content {
  padding-top: 15px;
  min-height: 500px;
}

.project-title {
  font-size: 18px;
  font-weight: bold;
}

.project-container {
  padding-bottom: 20px;
}

.highlighter-rouge {
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 14px;
}

blockquote {
  border-left: 5px solid #9e9e9e;
}

div.post {
  padding-top: 10px;
}

