/* Jumbotrons
-------------------------------------------------- */
.jumbotron {
  position: relative;
}
.jumbotron h1 {
  margin-bottom: 9px;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  font-family: "Brawler", serif;
}
.jumbotron a{color: #333333;}
.lead a{color: #0088cc;}

.jumbotron p {
  margin-bottom: 18px;
  font-weight: 300;
}
.post h1{
  font-family: "Brawler", serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}
p{font-size:16px; line-height: 24px;}

h2{
  font-family: "Brawler", serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}
.hiro {
  background-color: #2B2B2B;
  background-size: cover;
  height: 200px;
  box-shadow: inset 0 0 30px rgba(0,0,0,.90);
  width: 100%;
}         
.container{}
.social-icons{
  padding: 0;
  padding-top: 8px;
  float: right;
}
.social-icons li {
  display: inline;
  font-size: 26px;
}
