<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <meta name="author" content="Eric Farkas" />
  <meta name="description" content="Technical leader, team builder, and software engineer." />
  <meta name="twitter:site" content="@ericfarkas" />
  <meta name="twitter:creator" content="@ericfarkas" />
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:image" content="http://ericfarkas.com/assets/images/og-image.png" />
{% if page.url %}
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
{% endif %}
{% if page.description %}
  <meta property="og:description" content="{{ page.description }}" />
{% else %}
  <meta property="og:description" content="Technical leader, team builder, and software engineer." />
{% endif %}
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/assets/css/style.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/assets/css/monokai.css" type="text/css" />
  <link href="/assets/css/webfonts/ss-social-circle.css" rel="stylesheet" />
  <link href='https://fonts.googleapis.com/css2?family=Brawler&family=Roboto:wght@400;500;600' rel='stylesheet' type='text/css'>
  <link rel="alternate" type="application/rss+xml" href="https://feeds.feedburner.com/ericfarkas" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
</head>

<body>
<div class="container">
  <div class="row">
    <div class="span12">
      <div style="margin-top: 20px;">
        <header class="jumbotron subhead">
          <h1><a href="/">Eric Farkas</a></h1>
          <div class="row">
            <div class="span5">
              <ul class="nav nav-pills">
                <li><a href="/quotes">Quotes</a></li>
                <li><a href="/books">Books</a></li>
                <li><a href="/about">About</a></li>
              </ul>
            </div>
            <div class="pull-right span5">
              <ul class="social-icons">
                <li><a href="http://github.com/speric" class="social ss-icon ss-social-circle">octocat</a></li>
                <li><a href="http://twitter.com/ericfarkas" class="social ss-icon ss-social-circle">twitter</a></li>
                <li><a href="http://linkedin.com/in/efarkas" class="social ss-icon ss-social-circle">linkedin</a></li>
                <li><a href="http://last.fm/user/ericfarkas" class="social ss-icon ss-social-circle">lastfm</a></li>
                <li><a href="http://feeds.feedburner.com/ericfarkas" class="social ss-icon ss-social-circle">rss</a></li>
                <!-- <li><a href="http://instagram.com/speric" class="social ss-icon ss-social-circle">instagram</a></li> -->
                <!-- <li><a href="http://flickr.com/photos/ericfarkas" class="social ss-icon ss-social-circle">flickr</a></li> -->
                <!-- <li><a href="https://delicious.com/ericfarkas" class="social ss-icon ss-social-circle">delicious</a></li> -->
              </ul>
            </div>
          </div>
        </header>
      </div>
    </div>
  </div>
</div>

{% if page.header_img %}
<div class="hiro" style="background-image: url(/assets/images/headers/{{ page.header_img }});"></div>
{% endif %}

<div class="container">
  <div class="row">
    <div class="span12">
      <div class="content">
        {{ content }}
      </div>
      <div id="footer">
        <hr/>
        <a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-via="ericfarkas">Tweet</a>
        <script type="text/javascript" src="https://platform.twitter.com/widgets.js"></script>

        <a href="https://twitter.com/ericfarkas" class="twitter-follow-button" data-show-count="false">Follow @ericfarkas</a>
        <script src="https://platform.twitter.com/widgets.js" type="text/javascript"></script>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-1120529-16']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
</body>
</html>
